.skiptomain a {
    position: absolute;
    display: block;
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    top: 25px;
    left: -1000px;
    font-size: 0.5em;
}

.skiptomain a:focus {
    left: 10px;
}

.currentpage {
    background-color: #084200;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    letter-spacing: 0.3em;
}

img {
    width: 100%;
}

nav {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    row-gap: 6px;
    margin-top: 50px;
    margin-bottom: 10px;
}

nav > a {
    background-color: #FFFFFF;
    color: #084200;
    padding: 20px 10px 20px 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 0 20px 0;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(180deg, #370049 0%, #03B000 100%);
    -webkit-background-clip: text;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #F4EBFF;
    margin: 20px 10px 10px 10px;
    font-size: 1em;
}

h2 {
    background-color: #084200;
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 1.8em;
    font-weight: bold;
    margin: 40px 0 20px 0;
}

h3 {
    font-style: italic;
    text-transform: uppercase;
    color: #084200;
    padding: 10px 0 10px 10px;
    border-bottom: 5px solid #084200;
    margin: 40px 0 20px 0;
    font-size: 1.4em;
    font-weight: bold;
}

h4 {
    font-size: 1.2em;
    margin: 40px 0 20px 0;
    font-weight: bold;
    padding: 10px 0 10px 15px;
    border-left: 13px solid #084200;
    font-style: italic;
    letter-spacing: 0.15em;
}

p {
    padding: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
    line-height: 1.3;
}

a {
    color: #0022BD;
    text-decoration: underline;
}

.item_desc {
    display: grid;
    align-items: center;
    padding: 5px;
    row-gap: 15px;
}

.main_img {
    width: 100%;
}

.photo_gallery {
    background: #FFFFFF;
    display: grid;
    justify-content: center;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
}

.photo_gallery > * {
    width: 100%;
    margin-bottom: 20px;
}

.notice {
    font-weight: bold;
    font-style: italic;
    color: #084200;
}

.backtotop {
    display: grid;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    font-size: 0.85em;
    font-style: italic;
    text-align: center;
}

ul {
    display: grid;
    row-gap: 8px;
}

li {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.recipe_points {
    row-gap: 5px;
    background: white;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    margin-bottom: 30px;
}

.recipe_points > li {
    background-color: transparent;
    padding: 4px 0 4px 10px;
    list-style-type: disc;
    list-style-position: inside;
}

.instructions > li {
    list-style-type: decimal;
}

@media only screen and (min-width: 640px) {

    .skiptomain a {
        top: 10px;
        font-size: 0.6em;
    }

    nav {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 150%;
        column-gap: 20px;
        margin-bottom: 50px;
    }

    body {
        font-size: 1.3em;
        margin-left: 30px;
        margin-right: 30px;
    }

    h2 {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    h3 {
        width: 40%;
        margin-top: 70px;
    }

    .notice {
        width: 40%;
    }

    h3:hover {
        background-color: #084200;
        color: #FFFFFF;
    }

    p {
        padding: 30px;
    }

    img {
        width: 40%;
    }

    .item_desc {
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: center;
        column-gap: 20px;
    }

    .item_desc > img {
        width: 100%;
    }

    .photo_gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        align-items: center;
    }

    .travel_img {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .photo_gallery > * {
        width: 100%;
    }

    .backtotop {
        margin-top: 100px;
    }

    .backtotop > a:hover {
        text-transform: uppercase;
        font-weight: bold;
    }

    ul {
        width: 40%;
        row-gap: 15px;
    }

    li {
        padding: 20px;
    }

    li:hover {
        color: #FFFFFF;
        background-color: #084200;
    }
    
}